.navbar {
  color: black;
    margin-bottom: 0px; /* Add some space below the navbar */
}

.ml-auto{
    margin: 0 auto;
    width: 670px;

}
.navbar-brand {
    font-size: 1.5rem; /* Customize the font size for the brand/logo */

  }
  
  .nav-link {
    font-size: 1.1rem; /* Adjust the font size for links */
  }
  
  .nav-link:hover {
    color: #3884d5; /* Change color on hover */
  }
  