.footer{
    color: black;
    font-size: 33px;
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}
.start{
    display: flex;
    justify-content: start;
}
.end{
    display: flex;
    justify-content: end;

}