body{
    padding: 40px;
    font-size: 87px;
    color: rgb(93, 222, 37);
    
}
h1{
    
    cursor: pointer;
}
form{
    margin: 0 auto;
    width: 600px;

}
label{
    font-size: 50px;
}
input{
    font-size: 33px;
    padding: 23px;
    font-size: 23px;
    border-radius: 23px;
}
button{
    font-size: 33px;
    padding: 23px;
    cursor: pointer;
    color: white;
    background-color: rgb(81, 81, 213);
    font-size: 23px;
    border-radius: 23px;
    margin-top: 44px;
    font-size: 33px;
}